<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title>Jewelry Store</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Jewelry Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Ювелирные украшения
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:each="type : ${types}"><a class="dropdown-item"
                                                         th:href="@{/products(typesId=${type.getId()})}"
                                                         th:text="${type.getName()}">TEXT</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/basket">Корзина</a>
                </li>
                <li class="nav-item" th:if="${userRole} == 'GUEST'">
                    <a class="nav-link" href="/login">Войти</a>
                </li>
                <li class="nav-item" th:if="${userRole} == 'GUEST'">
                    <a class="nav-link" href="/sign">Регистрация</a>
                </li>
                <li class="nav-item" th:if="${userRole} == 'ADMIN' or ${userRole} == 'USER'">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin" th:if="${userRole} == 'ADMIN'">Админ панель</a>
                </li>
            </ul>
            <form class="d-flex" th:method="GET" th:action="@{/search}">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" name="name">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div><img class="img-fluid" src="img/intro.jpg"></div>
    <div><p class="fw-light fs-3 text-center">Jewelry Store</p></div>
    <div class="container text"><p class="fw-light fs-4 text-center">Каждый раз придумывая новые формы и идеально сочетая драгоценные камни
        и металлы, наши мастера подчеркивают в серьгах, кольцах, браслетах, колье и цепях вашу индивидуальность.
        Российская дизайнерская марка, основанная новаторами ювелирного искусства для работы с премиальными украшениями.
        Мы объединили талантливейших российских специалистов, работавших в крупнейших ювелирных компаниях, чтобы
        создавать украшения, которые никого не оставят равнодушным!</p>
    </div>
</div>
</body>
</html>